<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>Spring Boot + JPA + Datatables</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="/js/datatable.js"></script>
	<script src="/js/createVLDatatable.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#selectall").click(function () {
			    if (this.checked) {
			        $('.batteries').each(function () {
			            this.checked = true;
			        })
			    }
			    else {
			        $('.batteries').each(function () {
			            this.checked = false;
			        })
			    }
			})
			
			$('#create-list').click(function() {
                var customBatteryList = [];
                var vendorId = $("#vendorid_get").val();
                $("#createVLTable input[name=batteries]:checked").each(function () {
	                var row = $(this).closest("tr")[0];
	                var msg="";
	                msg+=row.cells[1].innerHTML;
	                var customBattery={ 
	                			batteryId:msg
	                		};
	                customBatteryList.push(customBattery);
	               
	            });   
                $.ajax({
                	url:"/saveItems/"+vendorId,

                    type: 'POST',

                    data:  JSON.stringify(customBatteryList),             

                    dataType: "json",          

                    contentType: 'application/json',

                    mimeType: 'application/json',

                    success : function(result) {
                        if(result.status == "Done"){
                        	alert("Successfully created Vendor list!!!");
                        	ViewVL();
                        }else{
                          	alert("Unable to create vendor list!!!");
                        }
                        console.log(result);
                      },
                      error : function(e) {
                    	alert("Vendor Not Found!!!"); 
                        console.log("ERROR: ", e);
                      }
                });
            });
			
		});
		
		 function ViewVL()
		  {
			 var vendorId = document.getElementById('vendorid_get').value,
		     url = '/two.html?vendorId=' + encodeURIComponent(vendorId);
			 document.location.href = url;
		 }
	
    </script>
</head>

<body>
	<h1>Create Vendor List</h1>
	Vendor ID:<input type="text" id="vendorid_get" class="form-control" style="width:100px;"/>
	</br>
		<table id="createVLTable" class="display" cellspacing="0" width="100%">
	      
	       <!-- Header Table -->
	       <thead>
	            <tr>
	            	<th><input id="selectall" type="checkbox"></th>
	                <th>BatteryId</th>
					<th>Manufacturer</th>
	                <th>Make</th>
	                <th>Model</th>
	                <th>Battery Capacity</th>
	                <th>Range in KM</th>
	                <th>Range in Miles</th>
					<th>Watt Hours/KM</th>
	                <th>Watt Hours/Miles</th>
	                <th>Energy Cost/KM</th>
	                <th>Energy Cost/Miles</th>
	                <th>Charging times</th>
	            </tr>
	        </thead>
	        <!-- Footer Table -->
	        <tfoot>
	            <tr>
	            	<th></th>
	                <th>BatteryId</th>
					<th>Manufacturer</th>
	                <th>Make</th>
	                <th>Model</th>
	                <th>Battery Capacity</th>
	                <th>Range in KM</th>
	                <th>Range in Miles</th>
					<th>Watt Hours/KM</th>
	                <th>Watt Hours/Miles</th>
	                <th>Energy Cost/KM</th>
	                <th>Energy Cost/Miles</th>
	                <th>Charging times</th>
	            </tr>
	        </tfoot>
	    </table>
        <br/>
        
        <center><input type="button" id="create-list" value="Save Vendor Items"/></center>
</body>
</html>